body {
  background: transparent;
}

/* TODO: cache background image for session rather than reloading a new one */
.wallpaper {
  background-attachment: fixed;
  background-position: center center;

  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  @media #{$phone} {
    background-image: $bg-img-phone;
    // background-image: url('static/uploads/2019/:month/luis-del-rio-camacho-43059-unsplash.jpg');
  }

  @media #{$tablet} {
    background-image: $bg-img-full;
    // background-image: url('static/uploads/2019/:month/luis-del-rio-camacho-43059-unsplash.jpg');
  }
}

.wallpaper::before {
  background-color: hsla(205, 12%, 12%, 0.5);
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.wallpaper > * {
  position: relative;
}
