.menu-trigger {
  background: $whoock;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  height: 2.5em;
  margin: 0.5rem 0.75rem;
  opacity: 0.8;
  position: fixed;
  right: 0;
  top: 0;
  transform-origin: center center;
  transition: $snappy $ease-sine;
  width: 2.5em;
  z-index: 10;

  @media #{$tablet} {
    display: none;
  }

  &.triggered {
    transform: rotateZ(-360deg);

    &:hover {
      opacity: 1;
      transform: scale(1.1) rotateZ(-270deg);
    }
  }

  &:hover {
    opacity: 1;
    transform: scale(1.1) rotateZ(-90deg);
  }
}
